*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
app/build/
.idea/

# Signing
*.jks
*.keystore
*.aab
*.apk

# Build outputs
/build
app/build/

# Secrets
.env
secrets.properties

.kotlin/
*.log
*.png

